* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.mainSection {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F1EAFF;
    margin: 0px 40px 20px 40px;
    /* margin-bottom: 60px; */
    /* margin-bottom: 20px; */
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    /* border */
    border-width: 3px;
    border: 3px solid #e1d3fd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.righthearder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.search {
    max-width: 25%;
    flex-grow: 1;
    margin: 0px 0px 0px -400px;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #fff;
    font-size: 14px;
    padding-left: 40px;
    background-image: url('./svgs/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 25px;
    background-position: 8px center;
}


.search-input::placeholder {
    color: #ccc;
}

.search-input:focus {
    outline: none;
    border-color: #5755FE;
}

.logo {
    color: #111;
}

.logo .name {
    width: 30px;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    font-weight: 900;
    color: #111;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 100px;
}

.logo .name a {
    text-decoration: none;
    color: #111;
}

.logo .fa-hat-cowboy {
    position: absolute;
    top: 14px;
    left: 105px;
    font-size: 30px;
    color: #111;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: rotate(-18deg);
}


.Mode {
    /* margin-left: 200px; */
    display: flex;
    align-items: center;
}

body.dark,
body.dark {
    color: #fff;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 70px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moon {
    width: 17px;
    color: #f1c40f;
}

.sun {
    width: 20px;
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 26px;
    height: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(40px);
}




.mainHeading {
    font-size: 1.0rem;
    line-height: 1.2;
    letter-spacing: -.025em;
    color: #333;
    /* font-family: "Signika Negative", sans-serif; */
    font-family: "Averia Libre", system-ui;
    text-align: center;
    margin: 10px 0px 20px 0px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainHeading h1 {
    font-weight: 900;
    border-radius: 50px;
    border-width: 3px;
    display: inline-block;
    border: 3px solid #e1d3fd;
    padding: 5px 20px 5px 20px;
    /* margin: 0px 0px 0px -450px; */

}

.mainHeading span:first-child {
    flex: 0 0 26%;
}

.mainHeading span:last-child {
    flex: 0 0 56%;
}

.mainHeading span {
    width: 42.3%;
    height: 3px;
    background-color: #e1d3fd;
}

.secondSection {
    width: 100%;
    height: 76vh;
    /* margin: 20px; */
    overflow: auto;
}



.listgridView img {
    width: 25px;
    /* margin-left: 15px; */
    cursor: pointer;
}

.listgridView {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(68, 131, 52, 255);
    margin: 0 100px 0px 0px;
    cursor: pointer;
    position: relative;

}

.listgridView .squre {
    background-color: #fff;
    width: 38px;
    height: 38px;
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 5px;
    opacity: 0.6;
    transition: transform 0.2s linear;
}





.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    justify-content: center;
    margin: 10px 100px 0 100px;
}

.cardsS {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(860px, 1fr));
    gap: 40px;
    justify-content: center;
    margin: 10px 100px 0 100px;
}

.card {
    position: relative;
    height: 210px;
    background-color: #F1EAFF;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 7px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    background-color: aliceblue;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.cardD {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #F1EAFF;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.title {
    margin: 20px 0px 10px 20px;
}


.title h3 {
    margin: 0;
    font-size: 1.150rem;
    line-height: 1.75rem;
    font-weight: 600;
    letter-spacing: -.025em;
    color: #333;
    /* font-family: "Signika Negative", sans-serif; */
    /* font-family: "Sofia", cursive; */
    font-family: "Averia Libre", system-ui;
}

.status {
    position: absolute;
    bottom: 100px;
    left: 21px;
}

.statusS {
    /* width: 10%; */
    position: absolute;
    bottom: 47px;
    left: 41%;
}

.status p {
    margin: 0;
    font-size: 14px;
    line-height: 0.2rem;
    color: rgba(68, 131, 52, 255);
    /* margin: 30px 0px 2px 20px; */
}

.status span {
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
    line-height: 0.2rem;
    color: rgba(68, 131, 52, 255);
}

.progressBar {
    position: absolute;
    bottom: 75px;
    left: 21px;
    width: 86%;
    height: 10px;
    background-color: rgba(200, 204, 208, 255);
    border-radius: 5px;
    /* margin: 20px 0px 2px 22px; */
    /* margin-bottom: 10px; */
}

.progressBarR {
    position: absolute;
    bottom: 44px;
    left: 52%;
    width: 20%;
    height: 10px;
    background-color: rgba(200, 204, 208, 255);
    border-radius: 5px;
}

.progress {
    height: 100%;
    width: 50%;
    background-color: rgba(121, 161, 114, 255);
    border-radius: 5px;
}


.button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 86%;
    height: 35px;
    background-color: rgba(68, 131, 52, 255);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(121, 161, 114, 255);
    color: #fff;
}

.buttonN {
    position: absolute;
    bottom: 33px;
    right: -50px;
    left: auto;
    width: 15%;
    /* transform: translateX(-50%); */
    /* height: 35px; */
    /* padding: 10px 90px; */
    /* background-color: rgba(68, 131, 52, 255); */
    /* color: #fff; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* border-radius: 5px; */
    /* text-align: center; */
    /* cursor: pointer; */
}