<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Copy Of (ISC)2</title>
    <link rel="stylesheet" href="../styles/courseInfo.css">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../styles/darkstyle.css">
    <link rel="stylesheet" href="../styles/responsivCss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Rampart+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rye&family=Satisfy&family=Sofia&family=Tilt+Neon&family=Vast+Shadow&display=swap"
        rel="stylesheet">
</head>

<body>

    <section class="mainSection">
        <div class="header">
            <div class="logo">
                <span class="name"><i class="fa-solid fa-hat-cowboy"></i><a href="../../index.html">jeet
                        ahirwar</a></span>
            </div>
            <div class="search">
                <input type="text" placeholder="Search..." class="search-input">
            </div>
            <div class="righthearder">
                <div class="Mode">
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="checkbox-label">
                        <img src="../../svgs/moon.svg" alt="Dark Mode" class="moon">
                        <img src="../../svgs/sun.svg" alt="Light Mode" class="sun">
                        <span class="ball"></span>
                    </label>
                </div>
                <div class="listgridView">
                    <img src="../../svgs/listViewicon.svg" alt="ListView" id="listView">
                    <img src="../../svgs/gridViewicon.svg" alt="GridView" id="gridView">
                    <span class="squre"></span>
                </div>
            </div>
        </div>
    </section>


    <section class="courseInfo">
        <div class="InfoContent">
            <h2>Course Introduction</h2>
            <img src="../../images/CourseInfo/CI_1.png" alt="Ci_1">
            <!-- <h3>Welcome to the Elite Cybersecurity Mastery Self-Paced Training Course by GhostCode Dynamics!</h3> -->
            <h3>Welcome to the Next-Gen Cybersecurity Mastery Self-Paced Training Course by GhostCode Dynamics!</h3>
            <!-- <h3>Welcome to the Pro-Level Cybersecurity Mastery Self-Paced Training Course by GhostCode Dynamics!</h3> -->
            <!-- <h3>Welcome to the State-of-the-Art Cybersecurity Mastery Self-Paced Training Course by GhostCode Dynamics!</h3> -->
            <!-- <h3>Welcome to the Cutting-Edge Cyber Defense Mastery Self-Paced Training Course by GhostCode Dynamics!</h3> -->
            <span></span>
            <p class="para">
                Congratulations on taking the first step towards mastering the future of cybersecurity! By enrolling in
                this course, you're embarking on a journey that will equip you with the skills and knowledge needed to
                thrive in this rapidly evolving field. The expertise you'll gain through the Next-Gen Cybersecurity
                Mastery program will not only prepare you for the challenges of today but also empower you to tackle the
                cyber threats of tomorrow with confidence. Your commitment to continuous learning and professional
                development sets you apart, and we're thrilled to be a part of your cybersecurity success story. Welcome
                aboard!
            </p>

            <div class="list">
                <ul>
                    <li>Domain 1: Foundations of Cybersecurity</li>
                    <li>Domain 2: Network Security</li>
                    <li>Domain 3: Ethical Hacking and Penetration Testing</li>
                    <li>Domain 4: Cryptography and Data Protection </li>
                    <li>Domain 5: Incident Response and Forensics</li>
                </ul>
            </div>

            <p class="para">
                This flexible course is designed to ease your transition into the cybersecurity field by building a
                strong foundation of essential information security knowledge.
            </p>

            <h3>Acknowledgements</h3>
            <span></span>
            <p class="para">
                The creation of this course owes its success to the invaluable support and collaboration of numerous
                individuals. Their dedicated efforts have significantly enriched the content and quality of the material
                presented.
            </p>
            <h3>Contributing Authors/Technical Editors</h3>
            <div class="list">
                <ul>
                    <li>Founder & Ceo GhostCode Dynamics</li>
                    <li>Senior Developer and Technical Writer</li>
                    <li>Jeet Ahirwar BCA, BIA, CC, G Cloud Gen AI, AZ 900</li>
                </ul>
            </div>
            <h3>Copyright Acknowledgment</h3>
            <p class="para">
                This course draws upon information from reputable and credible sources. Quoted materials are used with
                proper permissions and attributions. Extensive references are provided for further exploration. While
                every effort has been made to ensure the accuracy and reliability of the content, neither the authors
                nor the publisher can be held responsible for the validity or consequences of its application.
                <br>
                <br>
                This course includes excerpts from publications of the Indian government. For additional copyright
                information, please refer to the Indian Copyright Office website at https://copyright.gov.in.
                <br>
                <br>
                No portion of this course material may be reproduced, transmitted, or utilized in any form or by any
                means, electronic or mechanical, without the prior written consent of the publishers.
            </p>
            <h3>Assistance & Support</h3>
            <span></span>
            <p class="para">
                For any inquiries or assistance, please refer to the "Guidance & Assistance" section. Here, you'll find
                comprehensive information and solutions to common queries.
            </p>
            <div class="buttons b-1">Contact the support desk</div>
            <h3>Content Assistance</h3>
            <p class="para">
                If you encounter content-related queries while navigating through the course, our team of cybersecurity
                professionals is here to help. Drop us an email, and we'll ensure a prompt response within 48 hours to
                address your concerns and provide guidance.
            </p>
            <div class="buttons b-1">Contact content support</div>
            <h3>Certification Exam Assistance</h3>
            <p class="para">
                Should you require clarification regarding the certification exam, exam vouchers, or registration
                procedures, please don't hesitate to contact our support team at membersupport@ghostcode.org. We're here
                to guide you through the process and address any concerns you may have.s
            </p>
            <h4>Choose a learning mode</h4>
            <div class="aCard">
                <h2>Sequential</h2>
                <p class="smallPara">A structured pathway guiding you <br>through the course content in a linear
                    fashion.
                </p>
                <div class="buttons start">Start</div>
                <i class="fa-solid fa-road"></i>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li>Accessibility Statements</li>
                <li>Privacy Policy</li>
                <li>Cookie Policy</li>
                <li>Terms of Service</li>
                <li>Third-party Licenses</li>
            </ul>
            <ul>
                <li>Copyright 2024 ISC2-CC</li>
            </ul>
        </div>
    </section>
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/51316679b1.js" crossorigin="anonymous"></script>
</body>

</html>