<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Copy Of (ISC)2</title>
    <link rel="stylesheet" href="./domain3.css">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../styles/domain1.css">
    <link rel="stylesheet" href="../styles/domain2.css">
    <link rel="stylesheet" href="../styles/courseInfo.css">
    <link rel="stylesheet" href="../styles/darkstyle.css">
    <link rel="stylesheet" href="../styles/responsivCss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&family=Rampart+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rye&family=Satisfy&family=Sofia&family=Tilt+Neon&family=Vast+Shadow&display=swap"
        rel="stylesheet">
</head>

<body>


    <section class="mainSection">
        <div class="header">
            <div class="logo">
                <span class="name"><i class="fa-solid fa-hat-cowboy"></i><a href="../../index.html">jeet
                        ahirwar</a></span>
            </div>
            <div class="search">
                <input type="text" placeholder="Search..." class="search-input">
            </div>
            <div class="righthearder">
                <div class="Mode">
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" class="checkbox-label">
                        <img src="../../svgs/moon.svg" alt="Dark Mode" class="moon">
                        <img src="../../svgs/sun.svg" alt="Light Mode" class="sun">
                        <span class="ball"></span>
                    </label>
                </div>
                <div class="listgridView">
                    <img src="../../svgs/listViewicon.svg" alt="ListView" id="listView">
                    <img src="../../svgs/gridViewicon.svg" alt="GridView" id="gridView">
                    <span class="squre"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="courseInfo">
        <div class="InfoContent">
            <h2>Domain 5: Incident Response and Forensics</h2>
            <img src="../../images/domain1/d1.jpg" alt="Ci_1">
            <h3>Overview</h3>
            <span></span>
            <p class="para">
                Welcome to <strong>Domain 5: Incident Response and Forensics</strong> provides learners with essential
                knowledge and skills to effectively respond to cybersecurity incidents and conduct digital forensic
                investigations. From understanding incident response processes to implementing advanced threat hunting
                techniques, this domain covers critical aspects of incident response and digital forensics.
            </p>
            <h3>Learning Objectives</h3>
            <span></span>
            <p class="para">After completing this domain, the participant will be able to:</p>

            <div class="list">
                <ul>
                    <li>
                        Understand the incident response process, including incident detection, analysis, containment,
                        eradication, post-incident recovery, and lessons learned.
                    </li>
                    <li>
                        Learn digital forensics fundamentals, including digital evidence collection, preservation,
                        forensic imaging, and chain of custody procedures.
                    </li>
                    <li>
                        Gain proficiency in analyzing volatile and non-volatile data to extract evidence and insights
                        from digital devices.
                    </li>
                    <li>Explore forensic analysis techniques such as file system forensics (NTFS, ext4), memory
                        forensics using tools like Volatility, and network packet analysis with Wireshark.</li>
                    <li>
                        Understand advanced threat hunting methodologies and their role in proactively identifying and
                        mitigating cybersecurity threats.
                    </li>
                    <li>
                        Learn about threat intelligence integration and its significance in enhancing incident response
                        capabilities.
                    </li>
                    <li>
                        Explore security orchestration, automation, and response (SOAR) platforms and their role in
                        automating incident response processes.
                    </li>
                    <li>
                        Familiarize yourself with cyber threat hunting methodologies to proactively detect and respond
                        to emerging threats.
                    </li>
                </ul>
            </div>

            <h3>Key Topics Include</h3>
            <span></span>

            <div class="list">
                <ul>
                    <li>
                        <strong>Incident Response Process</strong>
                        <ul>
                            <li>Incident Detection and Analysis</li>
                            <li>Incident Containment and Eradication</li>
                            <li>Post-Incident Recovery and Lessons Learned</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Digital Forensics Fundamentals</strong>
                        <ul>
                            <li>Digital Evidence Collection and Preservation</li>
                            <li>Forensic Imaging and Chain of Custody</li>
                            <li>Volatile and Non-volatile Data Analysis</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Forensic Analysis Techniques</strong>
                        <ul>
                            <li>File System Forensics (NTFS, ext4)</li>
                            <li>Memory Forensics with Tools like Volatility</li>
                            <li>Network Packet Analysis with Wireshark</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Advanced Threat Hunting and Incident Response Automation</strong>
                        <ul>
                            <li>Threat Intelligence Integration</li>
                            <li>Security Orchestration, Automation, and Response (SOAR) Platforms</li>
                            <li>Cyber Threat Hunting Methodologies</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <h3>Key Information</h3>
            <span></span>


            <table class="custom-table">
                <tr>
                    <td class="row1 rowColor"><strong>0.75 - 1.5 hours</strong></td>
                    <td class="row1 rowColor"><img src="../../images/domain1/d1.1.png" alt="d1.1"></td>
                    <td class="row1 rowColor">
                        Progress depends on prior knowledge. If you understand topics, you'll advance quickly; if not,
                        you'll progress slower.
                    </td>
                </tr>
                <tr>
                    <td class="rowColor"><strong>Domain Catalog</strong></td>
                    <td><img src="../../images/domain1/d1.2.png" alt="d1.2"></td>
                    <td class="rowColor">
                        Access the Domain Catalog for a list of all learning materials included in this chapter.
                    </td>
                </tr>
                <tr>
                    <td class="row1 rowColor"><strong>Resources</strong></td>
                    <td class="row1 rowColor"><img src="../../images/domain1/d1.3.png" alt="d1.3"></td>
                    <td class="row1 rowColor">
                        Explore Terms and Definitions and Resources for additional support during your learning journey.
                    </td>
                </tr>
                <tr>
                    <td class="rowColor"><strong>Continuous Assessment</strong></td>
                    <td><img src="../../images/domain1/d1.4.png" alt="d1.4"></td>
                    <td class="rowColor">
                        Continuous Assessment: Expect questions before content to gauge your understanding and
                        accelerate learning.
                        <br>
                        <br>
                        Don't worry, this is part of the learning, and you will always have a chance to revisit content
                        anytime.
                    </td>
                </tr>
                <tr>
                    <td class="row1 rowColor"><strong>Certificate of Completion</strong></td>
                    <td class="row1 rowColor"><img src="../../images/domain1/d1.5.png" alt="d1.5"></td>
                    <td class="row1 rowColor">
                        To pass this domain you need to reach <strong>100% progress to certification</strong>. You do
                        not need to see all
                        of the content to pass.
                        <br>
                        <br>
                        If you do not pass, you can reset your progress and retake this domain from your "My Learning
                        History" page.
                    </td>
                </tr>
            </table>


            <h4>Choose a learning mode</h4>
            <div class="acards">

                <div class="aCard">
                    <h2>Adaptive</h2>
                    <p class="smallPara">A tailored journey that adapts to your learning.</p>
                    <div class="buttons start">Start</div>
                    <img src="../../images/domain1/connect_icon.svg" alt="connect_icon" class="connect fa-road">
                </div>
                <div class="aCard">
                    <h2>Interactive Modules</h2>
                    <p class="smallPara">Engaging through hands-on exploration.</p>
                    <div class="buttons start">Start</div>
                    <img src="../../images/domain2/d2.2.svg" alt="connect_icon" class="connect fa-road d2_1">
                </div>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li>Accessibility Statements</li>
                <li>Privacy Policy</li>
                <li>Cookie Policy</li>
                <li>Terms of Service</li>
                <li>Third-party Licenses</li>
            </ul>
            <ul>
                <li>Copyright 2024 ISC2-CC</li>
            </ul>
        </div>
    </section>
    </main>
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/51316679b1.js" crossorigin="anonymous"></script>
</body>

</html>